Hackathon.json
{
  "name": "Hackathon",
  "nodes": [
    {
      "parameters": {
        "path": "ad16443c-9f8c-4403-9bc4-22e2b35744ce",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -500,
        1140
      ],
      "id": "ee8619b6-6408-4fa5-b7e8-ef268ef1a07e",
      "name": "Webhook",
      "webhookId": "ad16443c-9f8c-4403-9bc4-22e2b35744ce"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -180,
        -60
      ],
      "id": "7f625bda-3e83-4b34-b3dd-c2e8e9dd2ef7",
      "name": "Execute Workflow!?"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -180,
        100
      ],
      "id": "827c7c2f-e1f5-4057-b672-57dd44957cd8",
      "name": "Schedule for News"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1iFC8L2CE7x0oZMqNiWTBL5GYtNxXpNe3q2tytBbzDqI",
          "mode": "list",
          "cachedResultName": "news_data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iFC8L2CE7x0oZMqNiWTBL5GYtNxXpNe3q2tytBbzDqI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iFC8L2CE7x0oZMqNiWTBL5GYtNxXpNe3q2tytBbzDqI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        40,
        0
      ],
      "id": "4b0543ca-919f-44ac-a81b-886dd16be2e1",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8PnjQBLz5K8GY3Od",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 2,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        260,
        0
      ],
      "id": "c69ae5d1-1e5b-458e-90a0-fcbcc74f3cdb",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "=https://serpapi.com/search.json?q=bollywood,politics&tbm=nws&tbs=qdr:d&api_key=1dc870535fa78c213af9c0d4b67de3bb3ab461a8d72bcf4634273449c17355e8",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        -120
      ],
      "id": "21d374e9-aa74-45e0-8ed9-2dee74fe2e84",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a helpful assistant that summarizes news articles into clear bullet points. Return 10 items, each with:\n- Headline\n- Source\n- 1-line summary\n\nThe user message is:\nSummarize the following top 10 latest news articles based on the topic: \"{{$node[\"Loop Over Items\"].json[\"TOPICS\"]}}\".\n\nReturn each item as:\n- A headline\n- 1-line summary\n- Source\n\nHere are the articles:\n{{ $node[\"HTTP Request\"].json.news_results.slice(0, 10).map(n => `${n.title} - ${n.snippet} (Source: ${n.source})`).join(\"\\n\\n\") }} ",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        800,
        -160
      ],
      "id": "3ddff83c-bb5e-44cb-9f09-8345ae22c842",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "mindcraft-gpt4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        800,
        460
      ],
      "id": "bdae7a57-4c6e-4e74-8edd-f64b8ed8ff32",
      "name": "Azure OpenAI Chat Model",
      "credentials": {
        "azureOpenAiApi": {
          "id": "H4fZQT0TpGwmdvOj",
          "name": "Azure Open AI account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const name = $json[\"NAME\"] || \"User\";\nconst topics = $json[\"TOPICS\"] || \"various topics\";\n\n// Check if LLM node exists and has output\nconst llmOutput = $node[\"Basic LLM Chain\"].json?.text;\n\nif (!llmOutput) {\n  return [\n    {\n      json: {\n        html: `<h1>Error</h1><p>LLM output missing. Please check if the Basic LLM Chain node executed correctly.</p>`\n      }\n    }\n  ];\n}\n\nconst html = `\n<html>\n  <head>\n    <style>\n      body { background: #1a1a3a; color: white; font-family: sans-serif; padding: 20px; }\n      h1 { color: #cceeff; }\n      .card { background: #4b0082; padding: 20px; border-radius: 15px; }\n      .summary { background: white; color: black; padding: 10px; border-radius: 10px; margin-top: 10px; }\n    </style>\n  </head>\n  <body>\n    <div class=\"card\">\n      <h1>📰 Your Personalized News Summary</h1>\n      <p>Hi <b>${name}</b>, here are the latest stories based on your interest in <b>${topics}</b>.</p>\n      <p>${new Date().toLocaleString()}</p>\n    </div>\n    <div class=\"summary\">\n      <pre>${llmOutput}</pre>\n    </div>\n    <p style=\"font-size: 12px; color: gray;\">This email was sent using n8n automation.</p>\n  </body>\n</html>\n`;\n\nreturn [\n  {\n    json: {\n      html: html\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        140
      ],
      "id": "aa6fe737-762f-4f54-ba90-7b3a66ad9bde",
      "name": "Code",
      "alwaysOutputData": true,
      "retryOnFail": false
    },
    {
      "parameters": {
        "sendTo": "={{ $('Google Sheets').all()[0].json.MAIL }}",
        "subject": "Breaking!!! Breaking!!",
        "message": "={{$node[\"Code\"].json[\"html\"]}}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1220,
        140
      ],
      "id": "a7f9c49c-9eeb-4e4c-a083-6a7b2fbaf914",
      "name": "Gmail",
      "webhookId": "867ae4dd-4c6e-43c1-9a64-f0118f80312c",
      "credentials": {
        "gmailOAuth2": {
          "id": "p0z0TG8KC8HvwnOA",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        440,
        220
      ],
      "id": "d58974fa-c405-402e-9b9d-b2455296f21e"
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow!?": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule for News": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        []
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6bfb3112-3ecc-4406-95fa-0e9d84bd4363",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "491c9e8281feb292e79a3259d7c7f4f335fb7880b694e304ec7db867d24f531a"
  },
  "id": "gbRhXq2agXpo2cKL",
  "tags": []
}